# ignore files
#/CIFAR10/data/
#/CIFAR10/Output/saved_models/
#/CIFAR10/Output/saved_images/
#/STL10_64/
#/STL10_64/data/
#/STL10_64/Output/saved_models/
#/STL10_64/Output/saved_images/
#/CelebA/
#/CelebA/data_celeba/
#/CelebA/Output/saved_models/
#/CelebA/Output/saved_images/
#/ImageNet64/
#/ImageNet64/data_imageNet64/
#/ImageNet64/Output/saved_models/
#/ImageNet64/Output/saved_images/
#/ImageNet64/tmp/
#/ImageNet128/
#/ImageNet128/data_imageNet128/
#/ImageNet128/Output/saved_models/
#/ImageNet128/Output/saved_images/
#/ImageNet128/eval_IS_FID_pt/frozen_inception_v1_2015_12_05.tar.gz
#/ImageNet128/eval_IS_FID_pt/fid_stats_imagenet_valid.npz
#/ImageNet128/eval_IS_FID_pt/fid_stats_imagenet_train.npz
#/ImageNet128_backup/
#/Simulation/Output/saved_models/
#/Simulation_Backup/
*.pyc
